backend/data/processed/global_dataset.csv
backend/data/processed/partitions/*.csv
node_modules
.git
.dvc
.github
.vercel
mlruns
mlruns.db
dist
assets
sample_data
*.skops
*.pkl
*.pyc
__pycache__
*.log
*.sqlite
