# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=federamed
DB_USER=postgres
DB_PASSWORD=ChangeMeInProduction!

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=SuperSecureRandomStringForDevOnly
JWT_ISSUER=federamed-auth

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# Vault (Optional for local)
VAULT_ADDR=http://localhost:8200
VAULT_TOKEN=root